@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
  font-family: "playfairdisplaysc";
  src: url("../fonts/playfairdisplaysc-regular.woff2") format("woff2"),
    url("../fonts/playfairdisplaysc-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*---------- Texter ------------*/

.product-info {
  font-family: OpenSans;
}
.recensions-text {
  font-family: OpenSans;
}
.modul-info {
  font-family: playfairdisplaysc;
}
.links {
  font-family: playfairdisplaysc;
}
p {
  font-family: playfairdisplaysc;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: playfairdisplaysc;
}
.text-top-nav {
  font-size: 0.6rem;
}
.text-info-contact {
  font-size: 0.9rem;
}
.picture-sign-size {
  font-size: 1.7rem;
}
.navbar,
.navbar-brand,
.nav-link {
  font-family: "playfairdisplaysc", serif !important;
}
body {
  /*   font-family: playfairdisplaysc; */
  background-color: hsl(0, 0%, 9%);
}
.full-width {
  background-color: rgb(23, 23, 23);
}
.full-width-black {
  background-color: rgb(0, 0, 0);
}
.card-bg,
.card-bg .card-body {
  background-color: rgb(23, 23, 23) !important;
  overflow: hidden;
}
.light-shadow {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2) !important;
}
/* ------------ TRANSFORM & TRANSITION ---------------------- */
.social-media-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.social-media-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
/* --------------------------------------------------------- */

.accordion-button::after {
  filter: brightness(0) invert(1);
}

.card-text-size {
  font-size: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent; /* Tar bort den inre bakgrundsfärgen */
  border: none; /* Tar bort eventuell kant */
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: ""; /* Tar bort den inre ikonen som standard */
}
.carousel-control-prev,
.carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
}

/* --------------------- HOVRING ------------------*/

.hover-img {
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}
.position-relative:hover .hover-img {
  opacity: 1;
}

/*----------------------- Knappar -----------------*/

.btn {
  font-family: "playfairdisplaysc", serif !important;
}
.btn-gold-bracelets {
  background-color: yellow;
  color: red;
}
/*----------------------- Carousell - Rullande recentioner -----------------*/

.review-carousel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  background: transparent;
  position: relative;
}

.review-carousel {
  display: flex;
  gap: 2rem;
  width: fit-content;
  animation: scrollReviews 30s linear infinite;
}

.review-card {
  flex: 0 0 300px;
  background: rgb(255, 255, 255);
  color: black;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
}
@keyframes scrollReviews {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.review-carousel-wrapper:hover .review-carousel {
  animation-play-state: paused;
}

/*-------------------------------------------------------------------------*/
