@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: playfairdisplaysc;
  src: url(fonts/playfairdisplaysc-regular.woff) format("woff"),
    url(fonts/playfairdisplaysc-regular.woff2) format("woff2");
}
p {
  font-family: "PT Serif", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: playfairdisplaysc;
}

body {
  /* font-family: playfairdisplaysc; */
  font-family: cursive;
}
.full-width {
  background-color: hsl(0, 0%, 9%);
}
.card-bg,
.card-bg .card-body {
  background-color: hsl(0, 0%, 9%) !important;
  overflow: hidden;
}
.light-shadow {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2) !important;
}
/* ------------ TRANSFORM & TRANSITION ---------------------- */
.social-media-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.social-media-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
/* --------------------------------------------------------- */
